/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
    padding: 0;
  }

  :root{
    font-size: 10px;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }

  header{
    background-color: #9cdbe1a1;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    
  }

  header h3 {
    font-size: 3rem;
  }

  .add-btn{
    padding: .5rem 2rem;
    border-radius: .5rem;
    border-style: none;
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
    background-color: #fffafa;
  } 
  .add-btn:hover{
    background-color: #ef8b8b;
  }