/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
    padding: 0;
  }

  :root{
    font-size: 10px;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    background-color: #f0eef1;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }

  header{
    background-color: #9cdbe1a1;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    
  }

  header h3 {
    font-size: 3rem;
  }

  .add-btn{
    padding: .5rem 2rem;
    border-radius: .5rem;
    border-style: none;
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
    background-color: #fffafa;
  } 
  .add-btn:hover{
    background-color: #ef8b8b;
  }
  .content{
    padding: 3rem 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 5rem;
  }

  .card{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    gap: 1rem;
    border-radius: 1rem;
    padding: 2rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }

  .card p {
    font-size: 2.5rem;
    text-align: center; 
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    max-width: 100%; 

  }
  button.read{
    font-size: 3rem;
    border-radius: .5rem;
    border-style: none;
    background-color: #9fff9c;
    cursor: pointer;
  }

  button.remove{
    font-size: 3rem;
    padding: 0 8rem;
    border-radius: .5rem;
    border-style: none;
    margin-top: 1rem;
    cursor: pointer;
  }

  